body {
    padding: 0px !important;
    margin: 0px -15px 0px -15px !important;
    font-family:'Oswald', sans-serif !important;
    font-weight: 500;
    text-align: center;
}

.domandatest {
    text-align: left;
}

.testo-da-colorare {
    color:blueviolet;
}

nav ul li {
display: inline-block;
padding: 10% 10% 0px 10%
}

#natureimg, #cityimg, #dayimg, #nightimg,#drammaticoimg,#tranquilloimg {
    height: 300px;
    width: auto;
}

header {
    background-color: #09D181;
    color: whitesmoke;

}

.whitelink {
    color: whitesmoke
}

.redlink {
    color: darkred
}

header,section {
    padding: 5% 5% 0px 5%;
}

.active {
    color: #09D181;
    background-color: whitesmoke;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.nounderline {
    text-decoration: none;
    padding: 10px 10px 0px 10px; 
}

#footerarea{
    position: relative;
    z-index: 1;
    background-color:#09D181;
    padding:30px  100px 50px 100px;
}

#infoautore{
    color:bisque;
    
}

.menufooter{
    color:bisque;
    display: inline-block;
}