body {
    padding: 0px -15px 0px -15px !important;
    margin: 0px -15px 0px -15px !important;
    font-family:'Oswald', sans-serif !important;
    font-weight: 500;
    text-align: center;
}

.domandatest {
    text-align: left;
}

.testo-da-colorare {
    color:#1d7948;
}

nav ul li {
display: inline-block;
padding: 10% 10% 0px 10%
}

#natureimg, #dayimg, #nightimg,#drammaticoimg,#tranquilloimg,#cityimg {
    height: 300px;
    width: auto;
}





header {
    background-color: #1d7948;
    color: #ddea90;

}

.whitelink {
    color: #ddea90
    
}

a:hover {
    color: black;
}

.redlink {
    color: #b94429;
    
}

header,section {
    padding: 5% 5% 0px 5%;
}

.active {
    color: #1d7948;
    background-color: #ddea90;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.nounderline {
    text-decoration: none;
    padding: 10px 10px 0px 10px; 
}

#footerarea{
    position: relative;
    z-index: 1;
    background-color:#1d7948;
    padding:30px  100px 50px 100px;
}

#infoautore{
    color:#ddea90;
    
}

.menufooter{
    color: #ddea90;
    display: inline-block;
}

.fa-brands {
    color:#ddea90;
}

.allineareasinistra {
    text-align: justify;
}

.sottolineato {
    text-decoration: underline;
}

.spaziogrande {
    margin-top: 50px;
    margin-bottom: 50px;
}

.spaziomedio {
    margin-top: 30px;
    margin-bottom: 30px;
}

.spaziopiccolo {
    margin-top: 20px;
    margin-bottom: 20px;
}

